.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;    
}

.header {
	padding: 20px;
	background-color: #00ACC1;
	color: white;
	font-size: 15px;
	text-align: center;
}

.footer {
	position: absolute; 
	bottom: 0;
	width: 100%;
	padding: 10px;
	margin-top: 100px;
	background-color: #f2f2f2;
}

.line_input[type="text"] {
	padding: 10px;
	border: solid 5px #c9c9c9;
	transition: border 0.3s;
}

.line_input[type="text"]:focus {
	border: solid 5px #969696;
}
/* map page css */
body {
	height: 100%;
	font-family: sans-serif;
}

ng-map {
	position: absolute;
	height: 500px;
	width: 97%;
}

#map {
	height: 600px;
}

#map_lookup {
	width: 100%;
	padding: 10px;
}

#locations_list {
	list-style: none;
	overflow-y: auto;
	width: 100%;
}

#locations_list li {
	margin-top: 10px;
	width: 100%;
	background-color: #f2f2f2;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.remove_location {
	border: none;
	font-weight: 100;
	background-color: #f2f2f2;
}

#call_lyft_button {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px 20px 20px 20px;
	z-index: 999;
	width: 100%;
	background-color: #AA00FF;
	color: white;
	border: none;
	font-size: 15px;
	outline: 0;
}

/* modal options */
.modal-header {
	color: white;
	background-color:#00ACC1;
}
