@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face { font-family: 'Mosk Bold 700'; src: url('fonts/Mosk Bold 700.ttf'); }

body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Mosk Bold 700';
}

h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

h4 {
	margin-top: 0px;
}

.planner {
	margin-top: 45px;
	margin-bottom: 45px;
}

.card {
	/* Add shadows to create the "card" effect */
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;   */ 
	padding-bottom: 0px;
}

.header {
	padding: 20px;
	background-color: #00ACC1;
	color: white;
	font-size: 15px;
	text-align: center;
}

.footer {
	position: absolute; 
	bottom: 0;
	width: 100%;
	padding: 10px;
	background-color: #f2f2f2;
}

.line_input[type="text"] {
	padding: 10px;
	border: solid 5px #c9c9c9;
	transition: border 0.3s;
}

.line_input[type="text"]:focus {
	border: solid 5px #969696;
}
/* map page css */
body {
	height: 100%;
	/*font-family: sans-serif;*/
}

ng-map {
	/*position: absolute;*/
	height: 400px;
	/*width: 97%;*/
}

.mapDiv {
    height: 600px;
    width: 97%;
}

#map {
	height: 600px;
}

#map_lookup {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.locations {
	margin-bottom: 20px;
}

#locations_list {
	max-height: 400px;
	list-style: none;
	overflow-y: auto;
	width: 100%;
	-webkit-padding-start:0em;
}

#locations_list li {
	margin-top: 5px;
	width: 100%;
	background-color: #f2f2f2;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.remove_location {
	border: none;
	font-weight: 100;
	background-color: #f2f2f2;
}

#call_lyft_button {
	/*margin-top: 510px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px 20px 20px 20px;
	width: 200px;
	background-color: #AA00FF;
	color: white;
	border: none;
	font-size: 15px;
	outline: 0;
	display: inline-block;
}

#start_trip_button {
	display: inline-block;
	/*margin-top: 510px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px 20px 20px 20px;
	width: 200px;
	background-color: white;
	border: 2px solid #AA00FF;
	color: #AA00FF;
	font-size: 15px;
	outline: 0;
}

.select {
	box-shadow: none;
	background: transparent;
	border: 1px solid #e6e6e6;
	outline: 0;
}

#option_select {
	width: 100%;
	height: 30px;
}

/* modal options */
.modal-header {
	color: white;
	background-color:#00ACC1;
}
