<div class="header" align="center"><h3>Itinerary</h3></div>
<div class="container">
    <button class="btn btn-primary" ng-click="edit()">Edit </button>
    <div class="map row">
        <ng-map default-style="false" center="41,-87" zoom="3"></ng-map>
    </div>

    <div class="row location" align="center">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" class="btn btn-primary arrow" ng-click="moveBack()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <input type="text" class="line_input" value="{{ currentAddress }}"  disabled/>
            <button type="button" class="btn btn-primary arrow" ng-click="moveForward()">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 aligner">
            <div class="col-sm-4" align="center">
                <button type="button" class="btn btn-primary" ng-click="checkIn()">Check In</button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary" ng-click="callGoogleMaps()">Show in <b>Google Maps</b></button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary" id="call_lyft_button" ng-click="callLyft()">Call <b>Lyft</b></button>  
            </div>
        </div>
    </div>
</div>

